li {
  padding: 2px;
  margin: 5px;
  background: border-box;
  border: solid brown;
  font-weight: bold;
  font-size: 17px;
  color: black
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.uneaten-list{
  float: left;
  list-style-position: inside;
  width: 20%;
  position: relative
}

.eaten-list{
  float: right;
  list-style-position: inside;
  width: 20%;
  position: relative;
}

.create-form{
  width: 17%;
  left: 40%;
    top: 55%;
    position: absolute;
    text-align: center;
    font-size: 22px;
    border: solid saddlebrown;
    background-color: navajowhite;
    padding: 15px;
}

.form-group {
  margin-bottom: 5px;
  position: relative;
}

h1{
  text-align: center;
}

body{
  background-color: burlywood;
}

img{
  width: 20%;
  height: 20%;
  margin: 5px;
  left: 39%;
  position: relative;
}