li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}


.uneaten{
  text-align: left
}
.eaten{
  
  text-align: right

}
.create-form{
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}

h1{
  text-align: center;
}
